# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1, @global-owner2, and @global-owner3 will be requested for review when someone opens a pull request.

# Thank you, our previous code owners for their service:
#   @carmocca @borda

* @mruberry @lantiga @KaelanDt

# CI/CD and configs
/.azure/        @KaelanDt @lantiga
/.github/       @KaelanDt @lantiga
/.lightning/    @KaelanDt @lantiga
/dockers/       @KaelanDt @lantiga
Makefile        @KaelanDt @lantiga
*.yml           @KaelanDt @lantiga
