# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1, @global-owner2, and @global-owner3 will be requested for review when someone opens a pull request.

# Thank you, our previous code owners for their service:
#   @carmocca @borda @lantiga @KaelanDt @mruberry

* @tejapulagam @k223kim @lianakoleva

# CI/CD and configs
/.azure/        @tejapulagam @k223kim @lianakoleva
/.github/       @tejapulagam @k223kim @lianakoleva
/.lightning/    @tejapulagam @k223kim @lianakoleva
/dockers/       @tejapulagam @k223kim @lianakoleva
Makefile        @tejapulagam @k223kim @lianakoleva
*.yml           @tejapulagam @k223kim @lianakoleva
