# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1, @global-owner2, and @global-owner3 will be requested for review when someone opens a pull request.
* @mruberry @lantiga @robieta

# CI/CD and configs
/.github/       @mruberry @lantiga
*.yml           @mruberry @lantiga
