name: CI quickstart

on:
  push:
    branches: [main]
  pull_request:
    paths:
      - ".github/workflows/ci-quickstart.yml"
      - ".github/run-quickstart-as-lit-jobs.py"
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

defaults:
  run:
    shell: bash

jobs:
  launcher:
    runs-on: "ubuntu-22.04"
    timeout-minutes: 55
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Build package
        run: |
          pip install -U setuptools wheel
          python setup.py sdist bdist_wheel
          ls -l dist/

      - name: Run scripts in jobs
        env:
          LIGHTNING_USER_ID: ${{ secrets.LIGHTNING_USER_ID }}
          LIGHTNING_API_KEY: ${{ secrets.LIGHTNING_API_KEY }}
        run: |
          pip install lightning_sdk -U -q
          python .github/run-quickstart-as-lit-jobs.py
